NODE_ENV=
PORT=

MONGO_URI=

REDIS_HOST=
REDIS_PORT=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

REFRESH_COOKIE_NAME=sb_refresh_token
COOKIE_DOMAIN=

CLIENT_URL=
